/* ---------- root variables ---------- */
:root {
  --arlaForrestGreen: #006c3a;
  --arlaGrassGreen: #4bb131;
  --arlaSunYellow: #ffcc32;
  --arlaGraniteGray: #363e42;
  --arlaSlateGray: #7c8180;
  --arlaStoneGray: #d1d2ce;
  --goldMedal: #d1a535;
  --silverMedal: #8e8c8c;
  --bronzeMedal: #b57c46;
  --milkyWhite: #f9f8fa;
  --gradient: linear-gradient(0deg, rgba(0, 108, 58, 0.8) 0%, rgba(17, 124, 56, 0.8) 37%, rgba(35, 141, 54, 0.8) 65%, rgba(75, 177, 49, 0.8) 100%);
  --fontAmatic: 'Amatic SC';
}

/* ---------- Import font ---------- */
@font-face {
  font-family: 'Arla Regular';
  src: url('Arla/ArlaIF_W_Rg.ttf');
}

@font-face {
  font-family: 'Arla Italic';
  src: url('Arla/ArlaIF_W_It.ttf');
}

@font-face {
  font-family: 'Arla Bold';
  src: url('Arla/ArlaIF_W_Bd.ttf');
}

/* ---------- general styling ---------- */
html {
  color: var(--arlaGraniteGray);
  font-family: 'Arla Regular', Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
  background-color: var(--milkyWhite);
  background-image: url(../img/webHeader.svg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 101%;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--fontAmatic);
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-family: var(--fontAmatic);
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: var(--light-green);
}

ul {
  text-align: left;
}


/* ---------- menu styling ---------- */
.tabbar {
  /* background-color: var(--arlaForrestGreen); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-family: var(--fontAmatic);

  font-weight: bold;
}

.left {
  float: left;
  font-size: 1.5em;
}

.right {
  float: right;
  font-size: 1em;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--milkyWhite);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  border-bottom: 3px solid var(--arlaForrestGreen);
}

/* Add a color to the active/current link */
.tabbar a.active {
  border-bottom: 3px solid var(--arlaForrestGreen);
  color: var(--milkyWhite);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 10% 0;
}

/* ---------- logo styling ---------- */
/* .logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
} */

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- Frontpage styling ---------- */
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  max-height: 10%;
  overflow: hidden;
}

.frontPageBoks1,
.frontPageBoks2 {
  background: var(--gradient);
  display: block;
}

.frontPageBoks1 {
  width: 19.8%;
  height: 16em;
}

#boks4,
#boks1 {
  margin: 0 .1%;
}

.frontPageCircle {
  background: var(--milkyWhite);
  border-radius: 50%;
  width: 78%;
  height: 100%;
  margin: 0 auto;
}

.frontPageCircle img {
  margin: auto;
}

#boks1 img,
#boks2 img,
#boks3 img,
#boks4 img {
  max-height: 50%;
  margin: 2em auto 0%;
}

#frontPageTekst {
  width: 20%;
  margin: 2% auto;
}

.h2Home {
  font-family: var(--fontAmatic);
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  color: var(--milkyWhite);
}

/* ---------- Compare data page stryling ---------- */
#fromYear,
#toYear {
  border-radius: 20px;
  background: var(--gradient);
  color: var(--milkyWhite);
  padding: 5px 0;
  width: 70px;
  cursor: pointer;
}

option {
  background-color: var(--arlaForrestGreen);
  /* font-family: 'Arla Ragular'; */
}

.tabbarLand {
  /* background-color: var(--arlaForrestGreen); */
  position: fixed;
  font-family: var(--fontAmatic);
  font-weight: bold;
}

.tabbarLand a {
  display: inline-block;
  color: var(--arlaGraniteGray);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.tabbarLand a:hover {
  border-bottom: 3px solid var(--arlaForrestGreen);
}

.tabbarLand a.active {
  border-bottom: 3px solid var(--arlaForrestGreen);
  color: var(--milkyWhite);
}

#timePeriod,
#buttons {
  display: inline;
  margin: 0 5%;
}

#timePeriod p {
  color: var(--arlaForrestGreen);
  font-family: 'Arla Bold';
  display: inline-block;
  margin: 0 2%;
}

.btn {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  background: var(--milkyWhite);
  width: 60px;
  border: solid 1px var(--arlaGraniteGray);
  border-radius: 20px;
  font-family: var(--fontAmatic);
  font-weight: bold;
  font-size: 1.2em;
}

/* .btn img {
  width: 50%;
  position: absolute;
  right: 0;
  top: -2;
} */
.img {
  display: none;
}

.selected {
  background: var(--gradient);
  color: var(--milkyWhite);
  position: relative;
  border: none;
}

.selected img {
  display: block;
  position: absolute;
  overflow: visible;
  width: 50%;
  top: -50%;
  right: -20%;
}

/* ---------- input form stryling ---------- */
form {
  background-color: var(--arlaGrassGreen);
  /* padding: 2em 1em 2.5em; */
  width: 19%;
}

/* form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--arlaForrestGreen);
  width: 100%;
  max-width: 350px;
} */

/* article button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: solid 1.5px var(--arlaForrestGreen);
  padding: 5px 0;
  border-radius: 20px;
  color: var(--text-color-light);
  background-color: #ffffff;
  width: 5%;
} */

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

#inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#theInputForm input {
  width: 100%;
}

/* Grid container */
/* .grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
} */


/* #entireMap {
  height: 4001px;
} */

svg {
  width: 100%;
  height: 400px;
  /* overflow: visible; */
}

/* ---------- map ---------- */

.scale {
  width: 70px;
  height: 10px;
}

.scaleall {
  margin-left: 2%;
}

.scaleall p {
  font-size: 0.7em;
  margin: 0%;
}

#scaletitel h4 {
  margin: 0%;
  font-size: 0.96em;
}

#flex-scale {
  display: flex;
}

#scalebar {
  margin-left: 2%;
  float: right;
  margin-right: 40%;
}

#greyscale {
  background-color: #DADBDA;
}

#lightgreenscale {
  background-color: #4BB131;
}

#greenscale {
  background-color: #2A924A;
}

#darkgreenscale {
  background-color: #00441B;
}

.mapButtons {
  background: var(--gradient);
  width: 90px;
  height: 25px;
  color: white;
  font-size: 0.6em;
}

#mapselectionyellow p {
  font-size: 0.7em;
}

#mapselection {
  width: 8px;
  height: 8px;
  border: 2px solid var(--arlaSunYellow);
  border-radius: 3px;
  margin-right: 0.5%;
}

#mapBtns {
  flex-direction: column;
  width: 6%;
  margin: 0 auto;
  position: absolute;
  top: 420px;
  right: 180px;
  z-index: 2;
}

#mapBtns div {
  margin: 2%;
}

#mapselectionyellow {
  display: flex;
  align-items: center;
}

#map {
  position: relative;
}

#entireMap {
  width: 35%;
  float: right;
  margin-top: 3%;
}

 #arlaflower-map {
  width: 3%;
  position: absolute;
  top: 570px;
  right: 360px;
  z-index: 2;
}

 .mystyle {
  display: none;
}

/* ---------- Graph ---------- */

#graphBtns-wrapper {
  align-items: center;
  display: flex;
}

.graphBtns {
  background-color: white;
  width: 140px;
  height: 35px;
  color: #006C3A;
  font-size: 0.6em;
  font-weight: 700;
}



article #chartContainer {
  width: 50%;
}

.chart-size-monitor {
  width: 50%;
}

#chartDiv {
  width: 50%;
}